<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Colors API Visual TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    <!-- <script src="main.js"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <style>
        .color-container{
            width: 100px;
            height: 100px;
            display: inline-block;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Colors API</h1>
        <p> Probando la API de Colores en la versión web.</p>

        <div id="app">
            <div class="row">
                <div class="column column-50">
                    <label for="mainColorField">Color principal</label>
                    <input type="text" name="mainColorField" v-model="mainColor">
                    <label for="operationField"> Operación</label>
                    <select name="operationField" v-model="selectedOperation">
                        <option value="complimentary">Complementario</option>
                        <option value="color-scheme">Esquema de colores</option>
                    </select>
                </div>
                <!-- <div class="column column-10"> Hello</div> -->
                <div class="column column-40">
                    <div class="color-container" id="main_color" v-bind:style='{"background-color": mainColor}'></div>
                    <div class="color-container" id="result_color" v-bind:style='{"background-color": activeColor}'></div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        let app = new Vue({
            el: "#app",
            data: {
                "mainColor": "#000",
                "activeColor": "#FFF",
                "selectedOperation": "complimentary",
            },
            watch: {
                "selectedOperation": function(selected){
                    const color = this.mainColor.slice(1)
                    console.log(color)
                    axios.get(`http://localhost:8000/${selected}?hex=${color}`)
                    .then((r) => {
                        let data = r.data;
                        this.activeColor = data.hex;
                    })
                    console.log("SELECTED", selected);
                }
            }
        })
    </script>
</body>
</html>